on:
  push:

name: 编译文档

jobs:
  build:
    name: 编译文档
    runs-on: ubuntu-latest
    container:
      image: qiwihui/docker-sphinx-cjk-pdf 
    steps:
      - uses: actions/checkout@v2
      - name: build with docker
        run: |
          apt update && apt install -y --no-install-recommends latexmk fonts-freefont-otf
          pip3 install -U -r requirements.txt
          make latexpdf
